# Data files
data/raw/
data/processed/

# Large model files
models/train_data.joblib
models/test_data.joblib
models/validation_data.joblib
models/fit_data.joblib

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc